<div class="container">
  <h1>Contact</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input
        id="name"
        type="text"
        formControlName="from_name"
        [ngClass]="{
          'is-invalid': isInvalid('from_name')
        }"
        required
        aria-describedby="invalid-feedback-name"
        [attr.aria-invalid]="isInvalid('from_name')"
      />
      @if (isInvalid('from_name')) {
      <div class="invalid-feedback" id="invalid-feedback-name">
        @if (userForm.get('from_name')?.getError('required')) {
        <div>Veuillez indiquer votre nom</div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid': isInvalid('email')
        }"
        required
        aria-describedby="invalid-feedback-email"
        [attr.aria-invalid]="isInvalid('email')"
      />
      @if (isInvalid('email')) {
      <div class="invalid-feedback" id="invalid-feedback-email">
        @if (userForm.get('email')?.getError('required') ||
        userForm.get('email')?.getError('email')) {
        <div>Veuillez indiquer votre mail</div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label for="message">Votre message</label>
      <textarea
        id="message"
        name="message"
        formControlName="message"
        [ngClass]="{
          'is-invalid': isInvalid('message')
        }"
        required
        aria-describedby="invalid-feedback-message"
        [attr.aria-invalid]="isInvalid('message')"
      ></textarea>
      @if (isInvalid('message')) {
      <div class="invalid-feedback" id="invalid-feedback-message">
        @if (userForm.get('message')?.getError('required')) {
        <div>Veuillez écrire un message</div>
        }
      </div>
      }
    </div>
    <div class="form-group-btn">
      <button class="button action" type="submit">Soumettre</button>
    </div>
  </form>

  <div role="alert" aria-live="polite" aria-relevant="additions text">
    @if(!sent){
    <div>
      S'il vous plaît, n'envoyez pas 10 000 messages... Pour nous contacter
      autrement :
      <a href="mailto:contact.lesmalentendus@gmail.com"
        >contact.lesmalentendus&#64;gmail.com</a
      >
    </div>
    } @if(sent){
    <div class="valid">Message envoyé !</div>
    }
  </div>
</div>
