<div class="container">
  @for (podcast of $any(podcasts$ | async); track $index) {
  <div class="podcast">
    <h2 class="title">{{podcast.title}}</h2>
    <h3 class="subtitle">{{podcast.subtitle}}</h3>
    @if (podcast.informationMessage &&
    podcast.informationMessage.type) {
    <p role="alert" [ngClass]="podcast.informationMessage.type === 'warning' ? 'warning':'info'"
      [title]="podcast.informationMessage.accessDescription">
      <span
        [ngClass]="podcast.informationMessage.type === 'warning' ? 'icon-attention' : 'icon-info-circled'"></span>  {{podcast.informationMessage.content}}
    </p>
    }
    <p class="main-description">
      {{podcast.mainDescription}}
    </p>
    <p class="access-description">
      {{podcast.accessDescription}}
    </p>
    @for (button of podcast.sources; track $index) {
    @if (button.type ==='youtube' || button.type ==='site') {
    <a class="button" [ngClass]="button.type === 'youtube' ? 'youtube' : 'site'" [title]="button.accessDescription"
      [href]="button.url" target="_blank">{{button.type === 'youtube' ? 'YouTube' : 'Site'}}</a>
    }
    }
    @if (podcast.sources && hasLink(podcast.sources)) {
    <ul>
      @for (item of podcast.sources; track $index) {
        @if (item.type ==='link') {
          <li>
            <a [href]="item.url"
              target="_blank">{{item.accessDescription}}
            </a>
          </li>
        }
      }
    </ul>
    }
  </div>
  <hr class="divider" />
  }
  @empty {
  Pas de podcasts disponibles :-(
  }
</div>