<div class="container">
  <h1>Podcast</h1>
  <div class="centered-div" role="search">
    <label class="search-label" for="searchInput">Chercher un podcast</label>
    <input
      id="searchInput"
      class="search-input"
      type="search"
      placeholder="Entrez le nom d'un podcast, ex: tech"
      #searchQuery
      (input)="onSearchUpdated(searchQuery.value)"
    />
  </div>

  <div class="centered-div" role="form">
    <input
      type="checkbox"
      id="chkEnabled"
      #searchEnabled
      (click)="onFilterEnabled(searchEnabled.checked)"
    />
    <label for="chkEnabled" class="primary-color"
      >Afficher les podcasts actifs</label
    >
  </div>

  @if(this.isSearching){
  <p
    role="alert"
    class="sr-only"
    aria-live="polite"
    aria-relevant="additions text"
  >
    Vous avez {{ (podcasts$ | async)?.length }} podcasts trouvés
  </p>

  } @for (podcast of $any(podcasts$ | async); track $index) {
  <div class="podcast" tabindex="0" role="article">
    <h2 class="title">{{ podcast.title }}</h2>
    <h3 class="subtitle" *ngIf="podcast.subtitle">{{ podcast.subtitle }}</h3>

    @if(podcast.enabled === false){
    <p class="warning">
      <span class="icon-attention"></span>
      <span class="sr-only">Attention&nbsp;</span>
      Ce podcast peut être inactif, n'a pas été mis à jour récemment ou ne
      contient pas d'autres transcriptions.
    </p>
    } @if (podcast.informationMessage && podcast.informationMessage.type) {
    <p
      [ngClass]="
        podcast.informationMessage.type === 'warning' ? 'warning' : 'info'
      "
    >
      <span
        [ngClass]="
          podcast.informationMessage.type === 'warning'
            ? 'icon-attention'
            : 'icon-info-circled'
        "
      ></span>
      <span
        *ngIf="podcast.informationMessage.type === 'warning'"
        class="sr-only"
        >Attention&nbsp;</span
      >
      {{ podcast.informationMessage.content }}
    </p>
    }
    <p class="main-description">
      {{ podcast.mainDescription }}
    </p>
    @if (podcast.authors && podcast.authors.length>0) {
    <p class="secondary-description">
      Podcast animé par {{ podcast.authors.join(" et ") }}.
    </p>
    } @if (podcast.sources && hasLink(podcast.sources)) {
    <ul>
      @for (item of podcast.sources; track $index) { @if (item.type ==='link') {
      <li>
        <a [href]="item.url" target="_blank">{{ item.accessDescription }} </a>
        <span class="secondary-description-date" *ngIf="item.date"
          >publié le {{ item.date | date : "dd MMMM yyyy" }}</span
        >
      </li>
      } }
    </ul>
    } @for (button of podcast.sources; track $index) { @if (button.type
    ==='youtube' || button.type ==='site' || button.type ==='transcription') {
    <a
      class="button"
      [ngClass]="
        button.type === 'youtube'
          ? 'youtube'
          : button.type === 'site'
          ? 'site'
          : 'transcription'
      "
      [title]="button.accessDescription"
      [href]="button.url"
      target="_blank"
      >{{
        button.type === "youtube"
          ? "YouTube"
          : button.type === "site"
          ? "Site web"
          : "Transcriptions"
      }}</a
    >
    } }
  </div>
  <hr class="divider" />

  } @empty {
  <div class="centered-div">
    @if (this.isSearching) { Recherche infructueuse :-( } @else { Pas de
    podcasts disponibles :-( }
  </div>
  } @if ((podcasts$ | async)?.length !== 0) {
  <div class="centered-div">
    <button class="button action" (click)="scrollToTop()">
      Retour vers le haut de la page
    </button>
  </div>
  }
</div>
