@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300;1,500&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff");
}
:root{
  --body-bg:#fafafa;
  --primary-color:#333333;
  --secondary-text-color:#ab9a9a;
  --primary-text-color:#787878;
  --btn-primary-color:#353535;
  --btn-primary-text-color:#ffffff;
  --btn-primary-color-hover:#4d4d4d;
  --btn-youtube-color:#c4302b;
  --btn-youtube-color-hover:#d95652;
  --btn-transcription-color:#6a3715;
  --btn-transcription-color-hover:#86461b;
  --border-color: #dbdbdb;
  --shadow-color: #dbdbdb;
  --shadow-color-hover: black;
}
.dark_mode{
  --body-bg: #121212;
  --primary-color:#787878;
}
html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: var(--body-bg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #595959;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
  font-weight: 500;
}
p {
  font-size: 1em;
  font-weight: 300;
  color: var(--primary-text-color);
  font-family: "Rubik", sans-serif;
}
p a {
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  letter-spacing: 0px;
  text-transform: none;
  color: var(--primary-color);
}
.rs-logo {
  width: 24px;
  vertical-align: middle;
}
.main-description {
  color: var(--primary-text-color);
}
.access-description {
  color: var(--secondary-text-color);
}
ul {
  list-style-type: none;
  padding-left: 0;
  background-color: #eae9e9;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 15px;
}
li {
  padding-bottom: 1%;
}
li:last-child {
  padding-bottom: 0;
}
.icon-attention,
.icon-info-circled,
.icon-mail-alt {
  font-family: "icons";
}
.icon-attention:before {
  content: "\e800";
}
.icon-info-circled:before {
  content: "\e803";
}
.icon-mail-alt:before {
  content: "\f0e0";
}
.container {
  width: 80%;
  height: auto;
  margin: auto;
}
button,
.container a.button {
  font-size: 1em;
  font-weight: 300;
  color: var(--btn-primary-text-color);
  padding: 0.5em;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}
.container a.button:hover {
  color: var(--btn-primary-text-color);
  text-decoration: none;
  background-color: #5b5b5b;
}
.container p a.button {
  font-size: 1em;
  color: var(--btn-primary-text-color);
  padding: 2px;
  text-decoration: none;
  background-color: var(--btn-primary-color);
  padding: 0.5em;
}
.shortcuts {
  border: solid 1px;
  padding: 2px;
}
.card {
  padding: 3%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px var(--shadow-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  margin: 0 20% 2% 20%;
}
.podcast,
.chaineYoutube {
  padding: 2%;
}
.warning,
.info {
  padding: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.warning {
  color: #67512c;
  background-color: #fcf8e3;
}
.info {
  color: #0c5460;
  background-color: #d1ecf1;
}
.divider {
  border: none;
  height: 1px;
  width: 50%;
  color: var(--primary-color);
  background-color: var(--primary-color);
  opacity: 0.2;
}
.site {
  background-color: var(--btn-primary-color) !important;
}
.site:hover {
  background-color: var(--btn-primary-color-hover) !important;
}
.youtube {
  background-color: var(--btn-youtube-color) !important;
}
.youtube:hover {
  background-color: var(--btn-youtube-color-hover) !important;
}
.transcription {
  background-color: var(--btn-transcription-color) !important;
}
.transcription:hover {
  background-color: var(--btn-transcription-color-hover) !important;
}
#icon-lme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 5%;
  box-shadow: 0px 2px 2px var(--shadow-color);
  border-radius: 100%;
  margin: auto;
  margin-top: 1%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}
.card-media {
  position: relative;
  cursor: pointer;
  margin: 1%;
  padding: 0;
  width: 30%;
  box-shadow: 0px 2px 2px var(--shadow-color);
  border-radius: 7px;
}
.card-media:hover {
  box-shadow: 0px 0px 3px 0px black;
}
.card-media h1,
.card-media h2,
.card-media h3,
.card-media h4,
.card-media h5,
.card-media h6,
.card-media p,
.card-media a {
  color: white;
}
.card-media img {
  width: 100%;
  height: 100%;
}
.text-over {
  z-index: 100;
  position: absolute;
  font-weight: bold;
  top: 6%;
  left: 5%;
  width: auto;
}
.text-over p {
  width: 70%;
}
footer {
  color: var(--primary-text-color);
  font-family: "Rubik", sans-serif;
  bottom: 0;
  padding: 1%;
  margin-top: auto;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  li {
    padding-bottom: 3%;
  }
  .podcast,
  .chaineYoutube {
    margin-bottom: 3%;
  }
  #icon-lme {
    width: 11%;
    margin: 2% 45%;
  }
  .card-media {
    width: 100%;
  }
  footer {
    width: 72%;
    height: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  h1 {
    font-size: 2.5em !important;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .container a.button,
  a {
    font-size: 1.5em !important;
  }
  p a {
    font-size: 1em !important;
  }
  .card-media {
    width: 50%;
  }
  .text-over p {
    font-size: 1.1rem !important;
  }
  footer p{
    font-size: 1em !important;
  }
}