.breadcrumb {
    background: none;
    font-size: 1.2em;
    margin: 0;
    cursor: pointer;

    a,
    span {
        color: var(--primary-text);
        margin: 0.2em;
    }

    a:hover,
    span:hover {
        color: var(--secondary-text);
    }

    li {
        list-style: none;
        float: left;
    }

    li:last-child {
        margin-right: 20px;
    }

    li::after {
        content: ">";
        color: darkgrey;
    }

    li:last-child::after {
        content: "";
    }
}