@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300;1,500&display=swap");

@font-face {
    font-family: "icons";
    src: url("./assets/fonts/icons.woff2") format("woff2"),
        url("./assets/fonts/icons.woff") format("woff");
}

@import './assets/styles/colors.scss';

html {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    height: 100%;
}

header {
    cursor: pointer;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: var(--body-bg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-size: 1em;
    color: #595959;
    transition: background-color 0.25s;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: 500;
}

p {
    font-size: 1em;
    font-weight: 300;
    color: var(--primary-text);
    font-family: "Rubik", sans-serif;
    white-space: pre-line;
}

p a {
    color: var(--primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    letter-spacing: 0px;
    text-transform: none;
    color: var(--primary-color);
}

#icon-lme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 5%;
    box-shadow: 0px 2px 2px var(--shadow);
    border-radius: 100%;
    margin: auto;
    margin-top: 1%;
}

.rs-logo {
    width: 24px;
    vertical-align: middle;
}

.main-description {
    color: var(--primary-text);
}

.secondary-description {
    color: var(--secondary-text);
}

ul {
    list-style-type: none;
    padding-left: 0;
    background-color: var(--ul-background);
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 15px;
}

li {
    padding-bottom: 1%;
}

li:last-child {
    padding-bottom: 0;
}

.icon-attention,
.icon-info-circled,
.icon-mail-alt {
    font-family: "icons";
}

.icon-attention:before {
    content: "\e800";
}

.icon-info-circled:before {
    content: "\e803";
}

.icon-mail-alt:before {
    content: "\f0e0";
}

.container {
    width: 80%;
    height: auto;
    margin: 8% auto;
    margin-top: 15%;
}

button,
.container a.button {
    font-size: 1em;
    font-weight: 300;
    color: var(--btn-primary-text);
    padding: 0.5em;
    margin-right: 0.25em;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}

.container a.button:hover {
    color: var(--btn-primary-text);
    text-decoration: none;
    background-color: #5b5b5b;
}

.container p a.button {
    font-size: 1em;
    color: var(--btn-primary-text);
    padding: 2px;
    text-decoration: none;
    background-color: var(--btn-primary);
    padding: 0.5em;
}

.shortcuts {
    border: solid 1px;
    padding: 2px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.card {
    padding: 3%;
    background-color: var(--card-background);
    border-radius: 5px;
    box-shadow: 0px 2px 2px var(--shadow);
    border: 1px solid var(--border);
    cursor: pointer;
    margin: 0 20% 2% 20%;
}

.card.image-overlay {
    position: relative;
    margin: 1%;
    padding: 0;
    width: 30%;
    border: none;
    border-radius: 7px;
}

.card.image-overlay:hover {
    box-shadow: 0px 0px 3px 0px var(--shadow-hover);
}

.card.image-overlay img {
    width: 100%;
    height: 100%;
}

.card-media-text {
    z-index: 100;
    position: absolute;
    font-weight: bold;
    top: 6%;
    left: 5%;
    width: auto;
}

.card-media-text h1,
.card-media-text h2,
.card-media-text h3,
.card-media-text h4,
.card-media-text h5,
.card-media-text h6,
.card-media-text p,
.card-media-text a {
    color: var(--card-media-text);
}

.card-media-text p {
    width: 70%;
}

.podcast,
.video {
    padding: 2%;
}

.warning,
.info {
    padding: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.warning {
    color: var(--warning-text);
    background-color: var(--warning-bg);
}

.info {
    color: var(--info-text);
    background-color: var(--info-bg);
}

.divider {
    border: none;
    height: 1px;
    width: 50%;
    color: var(--primary-color);
    background-color: var(--primary-color);
    opacity: 0.2;
}

.site {
    background-color: var(--btn-primary) !important;
}

.site:hover {
    background-color: var(--btn-primary-hover) !important;
}

.youtube {
    background-color: var(--btn-youtube) !important;
}

.youtube:hover {
    background-color: var(--btn-youtube-hover) !important;
}

.transcription {
    background-color: var(--btn-transcription) !important;
}

.transcription:hover {
    background-color: var(--btn-transcription-hover) !important;
}

footer {
    bottom: 0;
    font-family: "Rubik", sans-serif;
    color: var(--primary-text);
    text-align: center;
    margin-top: auto;
    padding: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    li {
        padding-bottom: 3%;
    }

    .podcast,
    .video {
        margin-bottom: 3%;
    }

    #icon-lme {
        width: 11%;
        margin: 2% 45%;
    }

    .card.image-overlay {
        width: 100%;
    }

    footer {
        width: 72%;
        height: auto;
        margin: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
    h1 {
        font-size: 2.5em !important;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .container a.button,
    a {
        font-size: 1.5em !important;
    }

    p a {
        font-size: 1em !important;
    }

    .card.image-overlay {
        width: 50%;
    }

    .text-over p {
        font-size: 1.1rem !important;
    }

    footer p {
        font-size: 1em !important;
    }
}