<div class="container">
    <div class="cards">
        <div class="card image-overlay" tabindex="2" (click)="goTo('podcasts')"
            (keyup.enter)="goTo('podcasts')"
            title="Cliquez pour accéder à la liste de podcasts">
            <img src="assets/img/pa_card.webp"
                alt="Fond de couleur jaune or avec un logo en bas à droite en référence au son">
            <div class="card-media-text">
                <h2>Podcasts</h2>
                <p>Liste des podcasts accessibles</p>
            </div>
        </div>
        <div class="card image-overlay" tabindex="3" (click)="goTo('videos')"
            (keyup.enter)="goTo('videos')" title="Cliquez pour accéder à la liste de podcasts">
            <img src="assets/img/yt_card.webp"
                alt="fond de couleur rouge avec un triangle blanc en bas à droite en référence au logo de youtube">
            <div class="card-media-text">
                <h2>YouTube</h2>
                <p>Liste des chaîne YouTube accessibles</p>
            </div>
        </div>
        <div class="card image-overlay" tabindex="4"
            (click)="gotoUrl('https://github.com/emma11y/sous-titres')"
            (keyup.enter)="gotoUrl('https://github.com/emma11y/sous-titres')"
            title="Cliquez pour accéder à la liste d'outils pour sous-titrer ou transcrire vos médias">
            <img src="assets/img/gh_card.webp"
                alt="fond de couleur bleu gors avec le logo de github en bas à droite représentant une sorte de poulpe">
            <div class="card-media-text">
                <h2>Ressources pour l'accessibilité</h2>
                <p>Une liste créée par <a href="https://emmanuelle-aboaf.netlify.app/">Emmanuelle Aboaf</a></p>
            </div>
        </div>
    </div>
</div>
<router-outlet class="home"></router-outlet>