<div class="container">
    <div class="centered-div">
        <label class="search-label" for="searchInput">Chercher une video</label>
        <input id="searchInput" class="search-input" type="text"
            placeholder="Entrez le nom d'une chaine YouTube, ex: La Manie du Cinéma" #searchQuery
            (input)="onSearchUpdated(searchQuery.value)">
    </div>
    @for (video of $any(videos$ | async); track $index) {
    <div class="video">
        <h2 class="title">{{video.title}}</h2>
        <h3 class="subtitle">{{video.subtitle}}</h3>
        @if (video.informationMessage &&
        video.informationMessage.type) {
        <p role="alert" [ngClass]="video.informationMessage.type === 'warning' ? 'warning':'info'"
            [title]="video.informationMessage.accessDescription">
            <span
                [ngClass]="video.informationMessage.type === 'warning' ? 'icon-attention' : 'icon-info-circled'"></span>
            {{video.informationMessage.content}}
        </p>
        }
        <p class="main-description">
            {{video.mainDescription}}
        </p>
        @if (video.authors && video.authors.length>0) {
        <p class="secondary-description">
            Chaîne YouTube animée par {{video.authors.join(' et ')}}.
        </p>
        }
        @for (button of video.sources; track $index) {
        @if (button.type ==='youtube' || button.type ==='site') {
        <a class="button" [ngClass]="button.type === 'youtube' ? 'youtube' : 'site'" [title]="button.accessDescription"
            [href]="button.url" target="_blank">{{button.type === 'youtube' ? 'YouTube' : 'Site web∑∑'}}</a>
        }
        }
        @if (video.sources && hasLink(video.sources)) {
        <ul>
            @for (item of video.sources; track $index) {
            @if (item.type ==='link') {
            <li>
                <a [href]="item.url" target="_blank">{{item.accessDescription}}
                </a>
            </li>
            }
            }
        </ul>
        }
    </div>
    <hr class="divider" />
    }
    @empty {
    @if (this.isSearching) {
    Recherche infructueuse :-(
    } @else {
    Pas de podcasts disponibles :-(
    }
    }
    <div class="centered-div">
        <button class="button action" (click)="scrollToTop()">Retour vers le haut de la page</button>
    </div>
</div>