<div class="container">
  <h1>YouTube</h1>
  <div class="centered-div" role="search">
    <label class="search-label" for="searchInput">Chercher une video</label>
    <input
      id="searchInput"
      class="search-input"
      type="search"
      placeholder="Entrez le nom d'une chaine YouTube, ex: La Manie du Cinéma"
      #searchQuery
      (input)="onSearchUpdated(searchQuery.value)"
    />
  </div>
  @if(this.isSearching){
  <p
    role="alert"
    class="sr-only"
    aria-live="polite"
    aria-relevant="additions text"
  >
    Vous avez {{ (videos$ | async)?.length }} vidéos trouvées
  </p>

  } @for (video of $any(videos$ | async); track $index) {
  <div class="video" tabindex="0" role="article">
    <h2 class="title">{{ video.title }}</h2>
    <h3 class="subtitle" *ngIf="video.subtitle">{{ video.subtitle }}</h3>
    @if (video.informationMessage && video.informationMessage.type) {
    <p
      role="alert"
      [ngClass]="
        video.informationMessage.type === 'warning' ? 'warning' : 'info'
      "
    >
      <span
        [ngClass]="
          video.informationMessage.type === 'warning'
            ? 'icon-attention'
            : 'icon-info-circled'
        "
        aria-hidden="true"
      ></span>
      <span *ngIf="video.informationMessage.type === 'warning'"
        >Attention&nbsp;</span
      >
      {{ video.informationMessage.content }}
    </p>
    }
    <p class="main-description">
      {{ video.mainDescription }}
    </p>
    @if (video.authors && video.authors.length>0) {
    <p class="secondary-description">
      Chaîne YouTube animée par {{ video.authors.join(" et ") }}.
    </p>
    } @for (button of video.sources; track $index) { @if (button.type
    ==='youtube' || button.type ==='site') {
    <a
      class="button"
      [ngClass]="button.type === 'youtube' ? 'youtube' : 'site'"
      [title]="button.accessDescription"
      [href]="button.url"
      target="_blank"
      >{{ button.type === "youtube" ? "YouTube" : "Site web∑∑" }}</a
    >
    } } @if (video.sources && hasLink(video.sources)) {
    <ul>
      @for (item of video.sources; track $index) { @if (item.type ==='link') {
      <li>
        <a [href]="item.url" target="_blank">{{ item.accessDescription }} </a>
      </li>
      } }
    </ul>
    }
  </div>
  <hr class="divider" />
  } @empty {
  <div class="centered-div">
    @if (this.isSearching) { Recherche infructueuse :-( } @else { Pas de
    podcasts disponibles :-( }
  </div>
  } @if ((videos$ | async)?.length !== 0) {
  <div class="centered-div">
    <button class="button action" (click)="scrollToTop()">
      Retour vers le haut de la page
    </button>
  </div>
  }
</div>
